.fa-bars:before {
    content: "\f0c9";
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    /*min-height: 100vh;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 960px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

.row.header {
    color: #ffffff;
    background: #6c7ae0;
}

.row {
    display: table-row;
}

.odd {
    background: #ffffff;
}

.even {
    background: #868e96;
}
.cell {
    display: table-cell;
    margin-left: 5px;
}

.menu_btn {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}

.field {
    width: 80%;
    font-size: 25px;
    background-color: #DDD;
    margin: 15px;
    float: left;
}

.label {
    font-family: monospace;
    width: 50%;
}

.input {
    padding: 5px;
    width: 50%;
    /*float: right;*/
}